.result{
    margin-left: 50px;
}
.h1{
    font-size: 100px;
    text-align: center;
    color: red;
}
.search{
    text-align: center;
}
.link{
    font-size: medium;
    text-decoration:none;
    color: blue;
}
.link:hover{
    text-decoration:underline ;
}

.linked{
    font-size: smaller;
    color: gray;
}
